{% extends "padre.html" %}

{% load static %}

{% block titulo %}
<h6 class="carousel-title">{{ mensaje_busqueda }}</h6> 
<h2 style="color:white">Esta busqueda se efectuara entre las motos unicamente. </h2>


<form action="{% url 'resultado_busqueda'%}" method="GET">
    <div class="form-group">
        <p style="color: white">Fabricante</p>
        <input type="text" name="Fabricante" id="fabricante_carro">
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary btn-block" value="Buscar">
    </div>      
</form>
<p style="color:white">El caracter * busca todas las motos de la base de datos.</p>
{% endblock %}
