<!--Aca esta la plantilla del formulario-->
<section id="contact" class="section pb-0">

    <div class="container">
        <h6 class="xs-font mb-0"></h6>
        <h3 class="section-title mb-5">Agregar a la base de datos</h3>

        <div class="row align-items-center justify-content-between">
            <div class="col-md-12 col-lg-9">

                <form class="contact-form">
                    <div class="form-row">
                        <div class="col form-group">
                            <input type="text" class="form-control" placeholder="Nombre">
                        </div>
                        <div class="col form-group">
                            <input type="text" class="form-control" placeholder="Fabricante">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <input type="text" class="form-control" placeholder="Modelo">
                        </div>
                        <div class="col form-group">
                            <input type="text" class="form-control" placeholder="Color">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-block" value="Agregar">
                    </div>
                </form>
            </div>
        </div>

        <footer class="footer mt-5 border-top">
            <div class="row align-items-center justify-content-left">
                <div class="col-md-6 text-center text-md-left">
                    <p class="mb-0">Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a target="_blank" href="http://www.devcrud.com">DevCRUD</a></p>
                </div>
            </div> 
        </footer>
    </div>
</section>


{% titulo %}
<h1 class="carousel-title">Bienvenidos al<br> index</h1>                          
{% endblock %}